.form {
  max-width: 550px;
  margin: 2rem auto;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.form input,
textarea {
  width: 100%;
}

.form textarea {
  height: 8rem;
}

.input {
  display: block;
  margin: 1rem 0;
}

.button {
  border: none;
  background-color: #ccc;
  padding: 8px;
  display: block;
  margin-left: auto;
}

.button:hover {
  background-color: #eee;
}
