.form {
  max-width: 550px;
  margin: 2rem auto;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.form input,
textarea {
  width: 100%;
}

.form textarea {
  height: 8rem;
}

.input {
  display: block;
  margin: 1rem 0;
}

.button {
  border: none;
  background-color: #ccc;
  padding: 8px;
  display: block;
  float: right;
  margin: 2px;
}

.button:hover {
  background-color: #eee;
}

.spinner {
  display: inline-block;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 550px) {
  .button {
    float: none;
    width: 100%;
  }
}
